@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}

}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #babde2;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(12, 12, 12, 0.3);
    font-size: 8vmin;
    color: #a49fbb;
    background-color: #5a4580;
  }
  #reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #180335;
    color:aliceblue;
    border-radius: 1rem;
    border: none;
  }
  #new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #180335;
    color:aliceblue;
    border-radius: 1rem;
    border: none;

  }
  #msg{
    color:#240541;
    font-size: 8vmin;

  }
  .msg-container{
    height: 100vmin;
    display: flex;
    

    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }

  .hide{
    display: none;
  }
